<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Principal</title>

    <link rel="stylesheet" href="../assets/css/estilo.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="dashboard">

   <div class="top-bar">

    <div class="logo-header">
        <img src="../assets/img/logo.png" alt="logo">
        <h2>Community<span>Fix</span></h2>
    </div>

    <div class="header-right">

        <div class="notificaciones">
            <i class="fa-solid fa-bell"></i>
            <span class="badge">3</span>
        </div>

        <img src="img/perfil.jpg" class="perfil">

        <span>¡Hola, Usuario!</span>

    </div>

</div>

    <section class="bienvenida">

    <div class="texto-bienvenida">

        <h1>¡Bienvenida de vuelta! 👋</h1>

        <p>
            Reporta problemas en tu comunidad y
            ayúdanos a mejorar juntos.
        </p>

    </div>

    <img src="img/ciudad.jpg"
         class="ciudad"
         alt="Ciudad">

</section>
    <a href="nuevo-reporte.html" class="nuevo-reporte">

        <i class="fa-solid fa-plus"></i>

        <div>
            <h3>NUEVO REPORTE</h3>
            <p>Reporta un problema en tu comunidad</p>
        </div>

    </a>

<section class="mis-reportes">

    <div class="titulo">
        <h3>Mis Reportes</h3>
    </div>

    <div class="reporte">

        <div>
            <strong>Basura acumulada</strong>
            <p>Calle 5 de Mayo</p>
        </div>

        <span class="pendiente">
            Pendiente
        </span>

    </div>

    <div class="reporte">

        <div>
            <strong>Fuga de agua</strong>
            <p>Av. Juárez</p>
        </div>

        <span class="proceso">
            En proceso
        </span>

    </div>

    <div class="reporte">

        <div>
            <strong>Alumbrado averiado</strong>
            <p>Parque Central</p>
        </div>

        <span class="resuelto">
            Resuelto
        </span>

    </div>

    <!-- MAPA -->

    <div class="mapa-reportes">

        <i class="fa-solid fa-map-location-dot"></i>

        <div>
            <h4>Ver mapa de reportes</h4>
            <p>Explora los reportes en tu área</p>
        </div>

    </div>

    <div class="titulo-categorias">
    <h3>Categorías populares</h3>
</div>

    <!-- CATEGORÍAS -->

    <section class="categorias">

        <div class="categoria">
            <i class="fa-solid fa-trash"></i>
            <p>Basura</p>
        </div>

        <div class="categoria">
            <i class="fa-solid fa-droplet"></i>
            <p>Agua</p>
        </div>

        <div class="categoria">
            <i class="fa-solid fa-lightbulb"></i>
            <p>Alumbrado</p>
        </div>

        <div class="categoria">
            <i class="fa-solid fa-road"></i>
            <p>Vialidad</p>
        </div>

        <div class="categoria">
    <i class="fa-solid fa-ellipsis"></i>
    <p>Otros</p>
</div>

    </section>

    <!-- MENÚ INFERIOR -->

    <nav class="menu-inferior">

        <div>
            <i class="fa-solid fa-house"></i>
            <p>Inicio</p>
        </div>

        <div>
            <i class="fa-solid fa-file"></i>
            <p>Reportes</p>
        </div>

        <div>
            <i class="fa-solid fa-user"></i>
            <p>Perfil</p>
        </div>

    </nav>

</section>

</div>

</body>
</html>