<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Reporte</title>

    <link rel="stylesheet" href="..//assets/css/estilo.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="dashboard">

    <div class="top-bar">

        <a href="dashboard.html" class="btn-volver">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <h2>Nuevo Reporte</h2>

        <div></div>

    </div>

    <div class="formulario-reporte">

        <h3>Reportar Problema</h3>

        <label>Categoría</label>

        <select>
            <option>Basura</option>
            <option>Agua</option>
            <option>Alumbrado</option>
            <option>Vialidad</option>
            <option>Otros</option>
        </select>

        <label>Título del problema</label>

        <input
            type="text"
            placeholder="Ej. Basura acumulada">

        <label>Descripción</label>

        <textarea
            placeholder="Describe el problema"></textarea>

        <label>Ubicación</label>

        <input
            type="text"
            placeholder="Escribe la dirección">

        <div class="subir-foto">

            <i class="fa-solid fa-camera"></i>

            <p>Agregar fotografía</p>

        </div>

        <button class="btn-enviar">
            Enviar Reporte
        </button>

        

        <nav class="menu-inferior">

    <div>
        <i class="fa-solid fa-house"></i>
        <p>Inicio</p>
    </div>

    <div>
        <i class="fa-solid fa-file"></i>
        <p>Reportes</p>
    </div>

    <div>
        <i class="fa-solid fa-user"></i>
        <p>Perfil</p>
    </div>

</nav>

    </div>

</div>

</body>
</html>