<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - CommunityFix</title>

    <link rel="stylesheet" href="..//assets/css/estilo.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div>

    <div class="logo">
        <img src="..//assets/img/logo.png" alt="CommunityFix">
    </div>

    <h1>Community<span>Fix</span></h1>

    <p class="eslogan">
        Crea tu cuenta para comenzar
    </p>

    <div class="login-card">

        <h2>Registro</h2>

        <label>Nombre completo</label>
        <input type="text" placeholder="Ingresa tu nombre">

        <label>Correo electrónico</label>
        <input type="email" placeholder="Ingresa tu correo">

        <label>Contraseña</label>
        <input type="password" placeholder="Crea una contraseña">

        <label>Confirmar contraseña</label>
        <input type="password" placeholder="Confirma tu contraseña">

        <a href="dashboard.html" class="btn-login">
         Registrarme
        </a>

        <div class="separador">
            Ya tienes cuenta
        </div>

        <a href="login.html" class="btn-registro">
            Volver al inicio de sesión
        </a>

    </div>

</div>

</body>
</html>